@import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap');

body{
    width: 550px;
    margin: 0 auto;
    background-color: white;
    font-family: 'Arov' serif;
}

h3{
    text-align: center;
    
}

#principal{
    height: 500px;
    background-color:rgb(226, 224, 224);
}

#parte1{
    display: flex;  
    flex-direction: column;
}

#parte2{
    display: flex;
    flex-direction: column;
}




